@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(45deg, red, blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 300px;
  width: 300px;
  background-color: lightblue;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.main p {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 8px;
}
.main #btn {
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 900;
  
}

#btn:hover {
  background-color: #fff;
  color: darkblue;
  border: 1px solid black;
}
